$roboto-font : "Roboto";
$oleo-script-font : "Oleo Script";
.e3_2 {
  overflow:hidden;
}
.container-fluid{
  background-color:#ffffff;
}
.e3_2 {
  background-color:rgba(255, 255, 255, 1);
  width:100%;
  height:100%;
  position:absolute;
}
.e3_3 {
  border-radius:500px;
  background-color:rgba(241.00000083446503, 65.0000037252903, 108.00000116229057, 0.5);
  width:250px;
  height:250px;
  position:absolute;
  left:596px;
  top:270px;
}
.e3_4 {
  border-radius:500px;
  background-color:rgba(54.00000058114529, 153.00000607967377, 255, 0.5);
  width:400px;
  height:400px;
  position:absolute;
  left:742px;
  top:353px;
}
.e3_5 {
  color:rgba(255, 255, 255, 1);
  width:355px;
  height:140px;
  position:absolute;
  left:765px;
  top:512px;
  font-family:Roboto;
  text-align:center;
  font-size:25px;
  letter-spacing:0;
}
.e3_6 {
  color:rgba(241.00000083446503, 65.0000037252903, 108.00000116229057, 1);
  width:380px;
  height:212px;
  position:absolute;
  left:298px;
  top:443px;
  font-family:Oleo Script;
  text-align:center;
  font-size:150px;
  letter-spacing:0;
}
