<div class="new-container container-fluid">
  <h2>New journey info </h2>
  <mat-grid-list cols="12" rowHeight="100px"  >
    <form [formGroup]="editJourney">
      <mat-grid-tile [colspan]="4" [rowspan]="7" >
        <input type="image"  alt="image will implement later"/>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1"><label >Name</label> </mat-grid-tile>
      <mat-grid-tile [colspan]="7" >
        <mat-form-field appearance="outline" class="col-lg-10">
          <input matInput type="text" formControlName="name"/>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="2"><label >Description</label> </mat-grid-tile>
      <mat-grid-tile [colspan]="7" [rowspan]="2">
        <mat-form-field appearance="outline"  class="col-lg-10">
          <textarea matInput ></textarea>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1"><label >Country</label> </mat-grid-tile>
      <mat-grid-tile [colspan]="3" >
        <mat-form-field appearance="outline"  class="col-lg-8">
          <mat-label>Country</mat-label>
          <mat-select>
            <mat-option value="primary">Country 1</mat-option>
            <mat-option value="accent">Country 2</mat-option>
            <mat-option value="warn">Country 3</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1"><label >Place</label> </mat-grid-tile>
      <mat-grid-tile [colspan]="3" >
        <mat-form-field appearance="outline"  class="col-lg-8">
          <mat-label>Place</mat-label>
          <mat-select>
            <mat-option value="primary">Place 1</mat-option>
            <mat-option value="accent">Place 2</mat-option>
            <mat-option value="warn">Place 3</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1"><label >From</label> </mat-grid-tile>
      <mat-grid-tile [colspan]="3" >
        <mat-form-field appearance="outline" class="col-lg-8" >
          <input matInput [matDatepicker]="picker1">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1"><label >To</label> </mat-grid-tile>
      <mat-grid-tile [colspan]="3" >
        <mat-form-field appearance="outline"  class="col-lg-8">
          <input matInput [matDatepicker]="picker2">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1"><label >Currency</label> </mat-grid-tile>
      <mat-grid-tile [colspan]="3" >
        <mat-form-field appearance="outline" class="col-lg-8" >
          <mat-select>
            <mat-option value="primary">Currency 1</mat-option>
            <mat-option value="accent">Currency 2</mat-option>
            <mat-option value="warn">Currency 3</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1"><label >Amount</label> </mat-grid-tile>
      <mat-grid-tile [colspan]="3" >
        <mat-form-field appearance="outline" class="col-lg-8">
          <input matInput type="text" />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1">
        <label class="col-lg-1">Duration</label>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1">
        <mat-form-field appearance="outline" class="col-lg-6">
          <input matInput/>
        </mat-form-field>
        <label  class="col-lg-1"> day(s)</label>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1">
        <mat-form-field appearance="outline"  class="col-lg-6" >
          <input matInput/>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1">
        <label  class="col-lg-1">night(s)</label>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1">
        <label  >Status(s)</label>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3">
        <mat-form-field appearance="outline"  class="col-lg-8">
          <mat-select>
            <mat-option value="primary">Planning</mat-option>
            <mat-option value="accent">In progress</mat-option>
            <mat-option value="warn">Finished</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
    </form>

  </mat-grid-list>
  <button routerLink="../..">Discard</button>
  <button >Save</button>

</div>
