<div class="mat-elevation-z8 ">
  <table mat-table [dataSource]="dataSource">

    <!-- Get index Column -->
    <ng-container matColumnDef="checkAll">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? toggleAllRows() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(element) : null"
                      [checked]="selection.isSelected(element)"
                      [aria-label]="checkboxLabel(element)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td
        mat-cell
        *matCellDef="let element"
        [matTooltip]="element.description"
        matTooltipPosition="above"> {{element.description | shorten: 40}} </td>
    </ng-container>
    <!-- Weight Column -->
    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef> Country </th>
      <td mat-cell *matCellDef="let element"> {{element.country}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="start-date">
      <th mat-header-cell *matHeaderCellDef> Start Date </th>
      <td mat-cell *matCellDef="let element"> {{element.startDate | date:'MM.dd.yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="end-date">
      <th mat-header-cell *matHeaderCellDef> End Date </th>
      <td mat-cell *matCellDef="let element"> {{element.endDate | date:'MM.dd.yyyy'}} </td>
    </ng-container>
    <ng-container matColumnDef="currency">
      <th mat-header-cell *matHeaderCellDef> Currency  </th>
      <td mat-cell *matCellDef="let element"> {{element.currency}} </td>
    </ng-container>
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> Amount</th>
      <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" class="edit-btn" [routerLink]="'Edit/' + element.id">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" class="delete-btn" (click)="onDeleteItem(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div style="margin: 20px">
  <button
    mat-raised-button
    color="warn"
    (click)="onClickDeleteSelected()"
    [disabled]="selection.selected.length==0" > Delete Selected ({{selection.selected.length}}) </button>
  </div>
  <mat-paginator
    [pageSize]="5"
    >
  </mat-paginator>
</div>
